<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="/styles/register_login_style.css">
    <link rel="icon" type="image/x-icon" href="/images/microscope_round.ico">

    <title>Log-In</title>
    <script>
      localStorage.clear();
    </script>
</head>
<body>
    <div class="container">
        <img src="/images/microscope_round.png" alt="microscope logo"> 
        <header>
           <p id="labname">Lab Reservation</p>
           <p id="logintype">Sign-In</p>
        </header>
        <form action="/user_profile" method="POST" class="form">
          <input type="email" id="email" name="email" class="input" placeholder="Email">
              
              <input type="password" id="password" name="password" class="input" placeholder="Password">
              
              <input type="submit" id="submit" value="Sign In" id="submit" />

              <div class="register">
                <p>Don't have an account yet?</p>
                <a href="/register">Click here</a>
            </div>
        </form>
      </div>

      <script>
        const form = document.querySelector('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const form_data = new FormData(form);
            const kvpairs = Object.fromEntries(form_data);

            localStorage.setItem('email', kvpairs.email);
            localStorage.setItem('password', kvpairs.password);
            localStorage.setItem('entr_type', 'L');
            
            window.location.href = "/user_profile";
        })
      </script>
</body>
</html>