<!DOCTYPE html>
<html>
	<head>
		<title>Slot Availability</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
		<script type="text/javascript" src="/scripts/date-time-scripts.js"></script>
		<script type="text/javascript" src="/scripts/reserve.js" defer></script>
		<link rel="stylesheet" type="text/css" media="all" href="/styles/navbar.css">
		<link rel="stylesheet" type="text/css" href="/styles/slot_availability.css">
		<link rel="stylesheet" type="text/css" href="/styles/stylebase.css">
		<link rel="stylesheet" type="text/css" href="/styles/reserve.css">
    	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

	</head>
	<body>
		<nav class="site_header">
			<span id="site_name"><h1>Lab Reservation System</h1></span>
			<span class="site_nav">
				<span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
				<span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
				<span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
				<span class="logout" onclick="location.href='/login'"> Log Out </span>
			</span>
		</nav>

		<!-- Lab Timeslot Calendar -->

		<div class="container">
			<div id="roottimeslot"></div>
		</div>


		<!-- Reserve Seat -->
		<section class="reserve_container">
			<img src="/images/complab.png" class="labimage" alt="computer lab">
			<div class="uil uil-times-circle close"></div>

			<!-- Reserve slot -->
			<div class="reserveinput">
				<form>
					<h2>Reserve a seat</h2>
					<div class="textbox">
						<input type="text" id="labchosen" name="labchosen" class="inputtext" readonly>
						<i class="uil uil-desktop"></i>
					</div>
					<div class="textbox">
						<!-- <select class="inputtext" name="datersv" id="datersv" size="1">
							<option value="#">date</option>
						</select> -->
						<input type="date" id="datersv" name="datersv" class="inputtext" required>
						<i class="uil uil-calendar-alt" title="Add Date"></i>
					</div>
					<div class="textbox">
						<select class="inputtext" name="timersv" id="timersv" size="1">
							<option value="07:30AM - 08:00AM"> 07:30AM - 08:00AM </option>
							<option value="08:00AM - 08:30AM"> 08:00AM - 08:30AM </option>
							<option value="08:30AM - 09:00AM"> 08:30AM - 09:00AM </option>
							<option value="09:00AM - 09:30AM"> 09:00AM - 09:30AM </option>
							<option value="09:30AM - 10:00AM"> 09:30AM - 10:00AM </option>
							<option value="10:00AM - 10:30AM"> 10:00AM - 10:30AM </option>
							<option value="10:30PM - 11:00AM"> 10:30PM - 11:00AM </option>
							<option value="11:00AM - 11:30AM"> 11:00AM - 11:30AM </option>
							<option value="11:30AM - 12:00PM"> 11:30AM - 12:00PM </option>
							<option value="12:00PM - 12:30PM"> 12:00PM - 12:30PM </option>
							<option value="12:30PM - 01:00PM"> 12:30PM - 01:00PM </option>
							<option value="01:00PM - 01:30PM"> 01:00PM - 01:30PM </option>
							<option value="01:30PM - 02:00PM"> 01:30PM - 02:00PM </option>
							<option value="02:00PM - 02:30PM"> 02:00PM - 02:30PM </option>
							<option value="02:30PM - 03:00PM"> 02:30PM - 03:00PM </option>
							<option value="03:00PM - 03:30PM"> 03:00PM - 03:30PM </option>
							<option value="03:30PM - 04:00PM"> 03:30PM - 04:00PM </option>
							<option value="04:00PM - 04:30PM"> 04:00PM - 04:30PM </option>
							<option value="04:30PM - 05:00PM"> 04:30PM - 05:00PM </option>
							<option value="05:00PM - 05:30PM"> 05:00PM - 05:30PM </option>
							<option value="05:30PM - 06:00PM"> 05:30PM - 06:00PM </option>
							<option value="06:00PM - 06:30PM"> 06:00PM - 06:30PM </option>
							<option value="06:30PM - 07:00PM"> 06:30PM - 07:00PM </option>
							<option value="07:00PM - 07:30PM"> 07:00PM - 07:30PM </option>
							<option value="07:30PM - 08:00PM"> 07:30PM - 08:00PM </option>
							<option value="08:00PM - 08:30PM"> 08:00PM - 08:30PM </option>
							<option value="08:30PM - 09:00PM"> 08:30PM - 09:00PM </option>
						</select>
						<i class="uil uil-clock" title="Add Timeslot"></i>
					</div>
					<div class="textbox">
						<input class= "inputtext" name="namersv" id="namersv" type="text" placeholder="Reservation Name (Optional)">
						<i class="uil uil-ticket" title="Add a name for seat reservation."></i>
					</div>
					<div class="textbox">
						<input class= "inputtext" name="seatsrsv" id="seatsrsv" type="number" placeholder="Number of Seats" required>
						<i class="uil uil-users-alt" title="Specify how many seats will be reserved."></i>
					</div>
					<button type="button" class="reservebtn" id="buttonrsv" name="buttonrsv">Add Reservation</button>
				</form>

				<form action="#">
					<p class="editrsrv"> Already have a reservation? <span><a href="#" id="showlistrsv">Edit Reservation</a></span></p>
				</form>
			</div>

			<div class="listreserve">
				<h2>My Reservations</h2>
				<div id="rootlab"></div>
				<form action="#">
					<p class="editrsrv"> Want to add a reservation? <span><a href="#" id="addrsv">Add Reservation</a></span></p>
				</form>
			</div>

			<!-- <div class="notifbox">
				<label for="notif"> Thank you for Registering! </label>
				<button> Ok </button>
				<form action="#">
					<p class="editrsrv"> <a href="#" id="addrsv"> Create New Reservation</a></p>
				</form>
			</div> -->

			<div class="editdeletereserve">
				<form action="#">
					<h2>Edit Reservation</h2>
					<!-- Lab # -->
					<!-- Available Seats: -->
					<!-- Date / Time:  -->
					<div class="textbox">
						<input type="text" id="labchosenedit" name="labchosen" class="inputtext" readonly>
						<i class="uil uil-desktop"></i>
					</div>
					<div class="textbox">
						<!-- <select class="inputtext" name="datersv" id="datersv" size="1">
							<option value="#">date</option>
						</select> -->
						<input type="date" id="datersvedit" name="datersvedit" class="inputtext">
						<i class="uil uil-calendar-alt" title="Add Date"></i>
					</div>
					<div class="textbox">
						<select class="inputtext" name="timersv" id="timersvedit" size="1">
							<option value="07:30AM - 08:00AM"> 07:30AM - 08:00AM </option>
							<option value="08:00AM - 08:30AM"> 08:00AM - 08:30AM </option>
							<option value="08:30AM - 09:00AM"> 08:30AM - 09:00AM </option>
							<option value="09:00AM - 09:30AM"> 09:00AM - 09:30AM </option>
							<option value="09:30AM - 10:00AM"> 09:30AM - 10:00AM </option>
							<option value="10:00AM - 10:30AM"> 10:00AM - 10:30AM </option>
							<option value="10:30PM - 11:00AM"> 10:30PM - 11:00AM </option>
							<option value="11:00AM - 11:30AM"> 11:00AM - 11:30AM </option>
							<option value="11:30AM - 12:00PM"> 11:30AM - 12:00PM </option>
							<option value="12:00PM - 12:30PM"> 12:00PM - 12:30PM </option>
							<option value="12:30PM - 01:00PM"> 12:30PM - 01:00PM </option>
							<option value="01:00PM - 01:30PM"> 01:00PM - 01:30PM </option>
							<option value="01:30PM - 02:00PM"> 01:30PM - 02:00PM </option>
							<option value="02:00PM - 02:30PM"> 02:00PM - 02:30PM </option>
							<option value="02:30PM - 03:00PM"> 02:30PM - 03:00PM </option>
							<option value="03:00PM - 03:30PM"> 03:00PM - 03:30PM </option>
							<option value="03:30PM - 04:00PM"> 03:30PM - 04:00PM </option>
							<option value="04:00PM - 04:30PM"> 04:00PM - 04:30PM </option>
							<option value="04:30PM - 05:00PM"> 04:30PM - 05:00PM </option>
							<option value="05:00PM - 05:30PM"> 05:00PM - 05:30PM </option>
							<option value="05:30PM - 06:00PM"> 05:30PM - 06:00PM </option>
							<option value="06:00PM - 06:30PM"> 06:00PM - 06:30PM </option>
							<option value="06:30PM - 07:00PM"> 06:30PM - 07:00PM </option>
							<option value="07:00PM - 07:30PM"> 07:00PM - 07:30PM </option>
							<option value="07:30PM - 08:00PM"> 07:30PM - 08:00PM </option>
							<option value="08:00PM - 08:30PM"> 08:00PM - 08:30PM </option>
							<option value="08:30PM - 09:00PM"> 08:30PM - 09:00PM </option>
						</select>
						<i class="uil uil-clock" title="Add Timeslot"></i>
					</div>
					<div class="textbox">
						<input class= "inputtext" name="namersv" id="namersvedit" type="text" placeholder="Reservation Name (Optional)">
						<i class="uil uil-ticket" title="Add a name for seat reservation."></i>
					</div>
					<div class="textbox">
						<input class= "inputtext" name="seatsrsv" id="seatsrsvedit" type="number" placeholder="Number of Seats">
						<i class="uil uil-users-alt" title="Specify how many seats will be reserved."></i>
					</div>
					<button type="button" class="reservebtn" id="editrsv" name="editrsv">Edit Reservation</button>
					<button type="button" class="editdeletebtn" id="deletersv" name="deletersv">Delete Reservation</button>
					<button type="button" class="editdeletebtn" id="cancelbutton" name="cancelbutton">Cancel</button>
				</form>
		</section>
	</body>
</html>
