<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="styles/navbar.css">
        <link rel="stylesheet" type="text/css" media="all" href="styles/account_editing_styles.css">
        <link rel="icon" type="image/x-icon" href="./images/microscope_round.ico">
        <title>About</title>

    </head>
    <body>
        <nav class="site_header">
            <span id="site_name"><h1>Lab Reservation System</h1></span>
            <span class="site_nav">
                <span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
                <span class="about" onclick="location.href='/about'"> About </span>
                <span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
                <span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
                <span class="logout" onclick="location.href='/login'"> Log Out </span>
            </span>
        </nav>
        <div class="container">
            <h1>NPM Packages</h1>
            express<br>
            express-session<br>
            hbs<br>
            mongodb<br>
            mongoose<br>
            multer<br>
            node-localstorage<br>
        </div>
        <div class="container">
            <h1>Other Libraries</h1>
            jquery<br>
            moment<br>
        </div>
    </body>
</html>