<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="styles/navbar.css">
        <link rel="stylesheet" type="text/css" media="all" href="styles/account_editing_styles.css">
        <link rel="icon" type="image/x-icon" href="./images/microscope_round.ico">
        <title>Edit Profile Picture</title>

    </head>
    <body>
        <nav class="site_header">
            <span id="site_name"><h1>Lab Reservation System</h1></span>
            <span class="site_nav">
                <span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
                <span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
                <span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
                <span class="logout" onclick="location.href='/login'"> Log Out </span>
            </span>
        </nav>
        <div class="container">
            <form method="POST" class="form" id="edit_pfp" enctype="multipart/form-data">
                <input type="file" name="pfp" accept="image/*"><br>
                <input type="submit" id="submit" value="Confirm Changes">
            </form>
        </div>
    </body>
</html>