<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="all" href="styles/navbar.css">
        <link rel="stylesheet" type="text/css" media="all" href="styles/account_editing_styles.css">
        <link rel="icon" type="image/x-icon" href="./images/microscope_round.ico">
        <title>Edit Account</title>

    </head>
    <body>
        <nav class="site_header">
            <span id="site_name"><h1>Lab Reservation System</h1></span>
            <span class="site_nav">
                <span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
                <span class="about" onclick="location.href='/about'"> About </span>
                <span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
                <span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
                <span class="logout" onclick="location.href='/login'"> Log Out </span>
            </span>
        </nav>
        <div class="container">
        {{#if error}}
            <div id="error">{{error}}</div>
        {{else}}
            <form method="POST" class="form" id="edit_account">
                <label for="name">New Username</label><br>
                <input type="text" id="name" name="name" class="input" placeholder="{{username}}"><br>
                <label for="desc">New Description</label><br>
                <input type="text" id="desc" name="desc" class="input" placeholder="{{description}}"><br>
                <input type="submit" id="submit" value="Confirm Edits">
            </form>
            <button type="pfp" onclick="location.href='/edit_pfp'"> Edit Profile Picture </button>
            <button type="delete" onclick="location.href='/delete_account'">Delete Account</button>
        {{/if}}
        </div>
    </body>
</html>