<!DOCTYPE html>
<html>
    <head>
        <title>Slot Search</title>

        <link rel="stylesheet" type="text/css" href="styles/navbar.css">
        <link rel="stylesheet" type="text/css" href="styles/stylebase.css">
        <link rel="icon" type="image/x-icon" href="./images/microscope_round.ico">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/slot_search.js"></script>

        <style type="text/css">

            #centered {
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }

            #form {
                text-align: center;
                font-size: 20px;
            }

            .input-field {
                font-family: 'Cairo', sans-serif;
                border-radius: 8px;
            }

            .box {
                background-color: #dddddd;
				border: 1px solid black;
                width: 500px;
				padding: 10px;
				margin: 10px;
                border-radius: 10px;
                position: relative;
				left:50%;
				transform: translate(-50%, 0);
            }

            .seat-list {
                columns: 2;
            }

        </style>

    </head>
    <body>
        <nav class="site_header">
            <span id="site_name"><h1>Lab Reservation System</h1></span>
            <span class="site_nav">
                <span class="user_profile" onclick="location.href='/user_profile'"> Profile </span>
                <span class="search_slots" onclick="location.href='/slot_search'"> Search Lab Slots </span>
                <span class="lab_slots" onclick="location.href='/slot_availability'"> View Lab Slots </span>
                <span class="logout" onclick="location.href='/login'"> Log Out </span>
            </span>
        </nav>

        <div id="centered">
            
            <form method="POST" id="form" class="box">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                    <div style="margin: auto;">
                        <label for="user"> <b> Input a User: </b> </label>
                        <br>
                        <input type="text" id="user" name="user" class="input-field">
                        <br>
                    </div>
                    <div style="margin: auto;">  
                        <label for="labs"> <b> Select a Lab: </b> </label>
                        <br>
                        <select name="labs" id="labs" class="input-field">
                            <option value="1"> Lab 1 </option>
                            <option value="2"> Lab 2 </option>
                            <option value="3"> Lab 3 </option>
                        </select>
                        <br>
                        <label for="date"> <b> Select a Date: </b> </label>
                        <br>
                        <input type="date" id="date" name="date" class="input-field">
                        <br>
                        <label for="times"> <b> Select a Time: </b> </label>
                        <br>
                        <select name="times" id="times" class="input-field">
                            <option value="0"> 07:30AM - 08:00AM </option>
                            <option value="1"> 08:00AM - 08:30AM </option>
                            <option value="2"> 08:30AM - 09:00AM </option>
                            <option value="3"> 09:00AM - 09:30AM </option>
                            <option value="4"> 09:30AM - 10:00AM </option>
                            <option value="5"> 10:00AM - 10:30AM </option>
                            <option value="6"> 10:30PM - 11:00AM </option>
                            <option value="7"> 11:00AM - 11:30AM </option>
                            <option value="8"> 11:30AM - 12:00PM </option>
                            <option value="9"> 12:00PM - 12:30PM </option>
                            <option value="10"> 12:30PM - 01:00PM </option>
                            <option value="11"> 01:00PM - 01:30PM </option>
                            <option value="12"> 01:30PM - 02:00PM </option>
                            <option value="13"> 02:00PM - 02:30PM </option>
                            <option value="14"> 02:30PM - 03:00PM </option>
                            <option value="15"> 03:00PM - 03:30PM </option>
                            <option value="16"> 03:30PM - 04:00PM </option>
                            <option value="17"> 04:00PM - 04:30PM </option>
                            <option value="18"> 04:30PM - 05:00PM </option>
                            <option value="19"> 05:00PM - 05:30PM </option>
                            <option value="20"> 05:30PM - 06:00PM </option>
                            <option value="21"> 06:00PM - 06:30PM </option>
                            <option value="22"> 06:30PM - 07:00PM </option>
                            <option value="23"> 07:00PM - 07:30PM </option>
                            <option value="24"> 07:30PM - 08:00PM </option>
                            <option value="25"> 08:00PM - 08:30PM </option>
                            <option value="26"> 08:30PM - 09:00PM </option>
                        </select>
                    </div>
                </div>
                <br>
                <input type="button" id="search" value="Search" class="input-field" style="width: 70px; height: 50px; font-size: 15px;">
            </form>
        </div>

        <div id="output">

        </div>
        

    </body>
</html>